@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Avenir-LT-Std-35-Light_5169.ttf);
}
h1 {
    text-align: left;
    font-family: myFirstFont;
    font-style: normal;
    font-weight: lighter;
    font-size: 30px;
    color: rgba(133, 0, 55, 1);
}
.button{
    background-color: rgba(133, 0, 55, 1);
    color: rgb(255, 255, 255);
    padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  left: 50%;
}
    .mediaViewInfo {
        --web-view-name: register;
        --web-view-id: register;
        --web-scale-on-resize: true;
        --web-enable-deep-linking: true;
    }

    :root {
        --web-view-ids: register;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        border: none;
    }

    #register {
        position: absolute;
        width: 375px;
        height: 810px;
        background-color: rgba(255, 255, 255, 1);
        overflow: hidden;
        --web-view-name: register;
        --web-view-id: register;
        --web-scale-on-resize: true;
        --web-enable-deep-linking: true;
    }

    @keyframes fadein {

        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }

    }

    #Rectangle_1013 {
        fill: rgba(133, 0, 55, 1);
    }

    .Rectangle_1013 {
        position: absolute;
        overflow: visible;
        width: 375px;
        height: 39px;
        left: 0px;
        top: 771px;
    }

    #Rectangle_633 {
        fill: rgba(133, 0, 55, 1);
    }

    .Rectangle_633 {
        position: absolute;
        overflow: visible;
        width: 375px;
        height: 208px;
        left: 0px;
        top: 0px;
    }

    #mavzone {
        position: absolute;
        width: 96.698px;
        height: 21.821px;
        left: 139px;
        top: 778.59px;
        overflow: visible;
        --web-animation: fadein 0.3s ease-out;
        --web-action-type: page;
        --web-action-target: login_screen.html;
        cursor: pointer;
    }

    #Path_74 {
        fill: rgba(255, 255, 255, 1);
    }

    .Path_74 {
        overflow: visible;
        position: absolute;
        width: 27.803px;
        height: 21.159px;
        left: 0px;
        top: 0px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Path_75 {
        fill: rgba(255, 255, 255, 1);
    }

    .Path_75 {
        overflow: visible;
        position: absolute;
        width: 13.44px;
        height: 21.499px;
        left: 83.259px;
        top: 0.322px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Path_76 {
        fill: rgba(255, 255, 255, 1);
    }

    .Path_76 {
        overflow: visible;
        position: absolute;
        width: 12.806px;
        height: 20.934px;
        left: 69.014px;
        top: 0.321px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Path_77 {
        fill: rgba(255, 255, 255, 1);
    }

    .Path_77 {
        overflow: visible;
        position: absolute;
        width: 13.048px;
        height: 21.058px;
        left: 25.372px;
        top: 0.039px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Path_78 {
        fill: rgba(255, 255, 255, 1);
    }

    .Path_78 {
        overflow: visible;
        position: absolute;
        width: 12.648px;
        height: 20.498px;
        left: 36.646px;
        top: 0.346px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Path_79 {
        fill: rgba(255, 255, 255, 1);
    }

    .Path_79 {
        overflow: visible;
        position: absolute;
        width: 9.312px;
        height: 6.865px;
        left: 53.631px;
        top: 14.383px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Path_80 {
        fill: rgba(255, 255, 255, 1);
    }

    .Path_80 {
        overflow: visible;
        position: absolute;
        width: 8.733px;
        height: 6.46px;
        left: 54.266px;
        top: 0.465px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Path_81 {
        fill: rgba(255, 255, 255, 1);
    }

    .Path_81 {
        overflow: visible;
        position: absolute;
        width: 4.581px;
        height: 10.376px;
        left: 63.81px;
        top: 2.229px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Path_82 {
        fill: rgba(255, 255, 255, 1);
    }

    .Path_82 {
        overflow: visible;
        position: absolute;
        width: 4.555px;
        height: 10.437px;
        left: 48.082px;
        top: 8.703px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Path_83 {
        fill: rgba(255, 255, 255, 1);
    }

    .Path_83 {
        overflow: visible;
        position: absolute;
        width: 9.154px;
        height: 7.126px;
        left: 59.522px;
        top: 11.699px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Path_84 {
        fill: rgba(255, 255, 255, 1);
    }

    .Path_84 {
        overflow: visible;
        position: absolute;
        width: 9.163px;
        height: 7.183px;
        left: 48.165px;
        top: 2.834px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Line_2 {
        fill: transparent;
        stroke: rgba(255, 255, 254, 1);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
    }

    .Line_2 {
        overflow: visible;
        position: absolute;
        width: 367px;
        height: 1px;
        left: 0.5px;
        top: 767.5px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #CMU_LOGO {
        position: absolute;
        width: 184px;
        height: 53.447px;
        left: 96px;
        top: 77px;
        overflow: visible;
    }

    #Component_1__5 {
        position: absolute;
        width: 184px;
        height: 53.447px;
        left: 0px;
        top: 0px;
        overflow: visible;
    }

    #Group_2 {
        position: absolute;
        width: 184px;
        height: 30.097px;
        left: 0px;
        top: 23.35px;
        overflow: visible;
    }

    #Path_47 {
        fill: rgba(255, 255, 255, 1);
    }

    .Path_47 {
        overflow: visible;
        position: absolute;
        width: 5.923px;
        height: 7.846px;
        left: 22.303px;
        top: 22.252px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Path_48 {
        fill: rgba(255, 255, 255, 1);
    }

    .Path_48 {
        overflow: visible;
        position: absolute;
        width: 6.635px;
        height: 7.653px;
        left: 38.699px;
        top: 22.252px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Path_49 {
        fill: rgba(255, 255, 255, 1);
    }

    .Path_49 {
        overflow: visible;
        position: absolute;
        width: 1.037px;
        height: 7.653px;
        left: 55.947px;
        top: 22.252px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Path_50 {
        fill: rgba(255, 255, 255, 1);
    }

    .Path_50 {
        overflow: visible;
        position: absolute;
        width: 6.94px;
        height: 7.653px;
        left: 66.548px;
        top: 22.252px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Path_51 {
        fill: rgba(255, 255, 255, 1);
    }

    .Path_51 {
        overflow: visible;
        position: absolute;
        width: 5.133px;
        height: 7.653px;
        left: 83.052px;
        top: 22.252px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Path_52 {
        fill: rgba(255, 255, 255, 1);
    }

    .Path_52 {
        overflow: visible;
        position: absolute;
        width: 5.435px;
        height: 7.653px;
        left: 98.302px;
        top: 22.252px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Path_53 {
        fill: rgba(255, 255, 255, 1);
    }

    .Path_53 {
        overflow: visible;
        position: absolute;
        width: 5.1px;
        height: 8.039px;
        left: 112.925px;
        top: 22.058px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Path_54 {
        fill: rgba(255, 255, 255, 1);
    }

    .Path_54 {
        overflow: visible;
        position: absolute;
        width: 1.038px;
        height: 7.653px;
        left: 128.206px;
        top: 22.252px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Path_55 {
        fill: rgba(255, 255, 255, 1);
    }

    .Path_55 {
        overflow: visible;
        position: absolute;
        width: 5.967px;
        height: 7.653px;
        left: 138.992px;
        top: 22.252px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Path_56 {
        fill: rgba(255, 255, 255, 1);
    }

    .Path_56 {
        overflow: visible;
        position: absolute;
        width: 6.831px;
        height: 7.653px;
        left: 153.614px;
        top: 22.252px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Group_1 {
        position: absolute;
        width: 184px;
        height: 19.912px;
        left: 0px;
        top: 0px;
        overflow: visible;
    }

    #Path_57 {
        fill: rgba(255, 255, 255, 1);
    }

    .Path_57 {
        overflow: visible;
        position: absolute;
        width: 14.801px;
        height: 16.7px;
        left: 0px;
        top: 0.169px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Path_58 {
        fill: rgba(255, 255, 255, 1);
    }

    .Path_58 {
        overflow: visible;
        position: absolute;
        width: 15.527px;
        height: 14.184px;
        left: 16.274px;
        top: 2.62px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Path_59 {
        fill: rgba(255, 255, 255, 1);
    }

    .Path_59 {
        overflow: visible;
        position: absolute;
        width: 10.224px;
        height: 13.738px;
        left: 32.911px;
        top: 2.876px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Path_60 {
        fill: rgba(255, 255, 255, 1);
    }

    .Path_60 {
        overflow: visible;
        position: absolute;
        width: 15.526px;
        height: 14.184px;
        left: 43.349px;
        top: 2.62px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Path_61 {
        fill: rgba(255, 255, 255, 1);
    }

    .Path_61 {
        overflow: visible;
        position: absolute;
        width: 17.069px;
        height: 17.036px;
        left: 59.858px;
        top: 2.876px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Path_62 {
        fill: rgba(255, 255, 255, 1);
    }

    .Path_62 {
        overflow: visible;
        position: absolute;
        width: 15.655px;
        height: 14.123px;
        left: 71.509px;
        top: 2.449px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Path_63 {
        fill: rgba(255, 255, 255, 1);
    }

    .Path_63 {
        overflow: visible;
        position: absolute;
        width: 15.484px;
        height: 13.842px;
        left: 86.696px;
        top: 2.876px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Path_64 {
        fill: rgba(255, 255, 255, 1);
    }

    .Path_64 {
        overflow: visible;
        position: absolute;
        width: 15.528px;
        height: 14.184px;
        left: 103.632px;
        top: 2.62px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Path_65 {
        fill: rgba(255, 255, 255, 1);
    }

    .Path_65 {
        overflow: visible;
        position: absolute;
        width: 21.999px;
        height: 16.571px;
        left: 125.701px;
        top: 0px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Path_66 {
        fill: rgba(255, 255, 255, 1);
    }

    .Path_66 {
        overflow: visible;
        position: absolute;
        width: 9.904px;
        height: 13.889px;
        left: 148.152px;
        top: 2.725px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Path_67 {
        fill: rgba(255, 255, 255, 1);
    }

    .Path_67 {
        overflow: visible;
        position: absolute;
        width: 8.412px;
        height: 14.184px;
        left: 160.315px;
        top: 2.62px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Path_68 {
        fill: rgba(255, 255, 255, 1);
    }

    .Path_68 {
        overflow: visible;
        position: absolute;
        width: 15.653px;
        height: 14.123px;
        left: 168.347px;
        top: 2.449px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Group_4 {
        position: absolute;
        width: 62.539px;
        height: 20.101px;
        left: 61.588px;
        top: 0px;
        overflow: visible;
    }

    #Path_69 {
        fill: rgba(255, 255, 255, 1);
    }

    .Path_69 {
        overflow: visible;
        position: absolute;
        width: 17.039px;
        height: 7.534px;
        left: 9.037px;
        top: 3.874px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Group_3 {
        position: absolute;
        width: 52.449px;
        height: 8.38px;
        left: 0px;
        top: 11.722px;
        overflow: visible;
    }

    #Path_70 {
        fill: rgba(255, 255, 255, 1);
    }

    .Path_70 {
        overflow: visible;
        position: absolute;
        width: 52.449px;
        height: 8.38px;
        left: 0px;
        top: 0px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Path_71 {
        fill: rgba(255, 255, 255, 1);
    }

    .Path_71 {
        overflow: visible;
        position: absolute;
        width: 19.605px;
        height: 3.995px;
        left: 2.38px;
        top: 1.917px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Path_72 {
        fill: rgba(255, 255, 255, 1);
    }

    .Path_72 {
        overflow: visible;
        position: absolute;
        width: 16.845px;
        height: 2.88px;
        left: 32.333px;
        top: 2.008px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Path_73 {
        fill: rgba(255, 255, 255, 1);
    }

    .Path_73 {
        overflow: visible;
        position: absolute;
        width: 45.509px;
        height: 14.228px;
        left: 17.03px;
        top: 0px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Rectangle_1014 {
        fill: rgba(242, 242, 242, 1);
    }

    .Rectangle_1014 {
        position: absolute;
        overflow: visible;
        width: 375px;
        height: 563px;
        left: 0px;
        top: 208px;
    }

    #text {
        left: 0px;
        top: 244px;
        position: absolute;
        overflow: visible;
        width: 35px;
        white-space: nowrap;
        text-align: left;
        font-family: MyfirstFont;
        font-style: normal;
        font-weight: lighter;
        font-size: 20px;
        color: rgba(133, 0, 55, 1);
    }